body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-header {
  width: 100%;
  height: 56px;
  background-color: #00a6e7;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.main-header__nav {
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #fff;
}

main {
  padding: 1rem;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #00a6e7;
  min-height: 30px;
  padding: 5px;
  font: inherit;
  border-radius: 3px;
}

.btn {
  font: inherit;
  border: 0;
  border-radius: 3x;
  background-color: #00a6e7;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin: 0 7px;
}

.btn:hover,
.btn:active {
  background-color: #007aaa;
}

.product-form {
  width: 20rem;
  margin: auto;
  max-width: 90%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  width: 230px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 3px;
  padding: 10px;
}

.card .card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.mobile-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00a6e7;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid rgba(255, 255, 255, 0.7);
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  position: absolute;
  right: 10px;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #fff;
  border-color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #side-menu-toggle {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */