.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: 1px solid #1c5dd6;
  font-family: inherit;
  height: 20px;
  padding: 5px;
}
button {
  font-family: inherit;
  border: 2px solid #4f8dff;
  background: #fff;
  color: #4f8dff;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}
button:hover,
button:active {
  background: #4f8dff;
  color: #fff;
}

// product card
.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: justify;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  max-width: 200;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #4f8dff;
  color: #4f8dff;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #4f8dff;
  color: white;
}
